In [37]:
import pandas as pd;
import numpy as np;

header = ['Sky','AirTemp','Humadity','Wind','Water','Forcast','Enjoy']
data=[['Sunny','Warm','Normal','Strong','Warm','Same','yes'],['Sunny','Warm','High','Strong','Warm','Same','yes'],['Rainy','Cold','High','Strong','Warm','Change','no'],['Sunny','Warm','High','Strong','Cool','Change','yes']]
data=pd.DataFrame(data,columns=header)
data.to_csv("data.csv",index=False)

data=pd.read_csv("data.csv")
data

     Sky AirTemp Humadity    Wind Water Forcast Enjoy
0  Sunny    Warm   Normal  Strong  Warm    Same   yes
1  Sunny    Warm     High  Strong  Warm    Same   yes
2  Rainy    Cold     High  Strong  Warm  Change    no
3  Sunny    Warm     High  Strong  Cool  Change   yes

In [38]:
# Data attributes 
d=np.array(data)[:,:-1]
print("The attributes are:",d)

The attributes are: [['Sunny' 'Warm' 'Normal' 'Strong' 'Warm' 'Same']
 ['Sunny' 'Warm' 'High' 'Strong' 'Warm' 'Same']
 ['Rainy' 'Cold' 'High' 'Strong' 'Warm' 'Change']
 ['Sunny' 'Warm' 'High' 'Strong' 'Cool' 'Change']]

In [39]:
# target attributes
target = np.array(data)[:,-1]
print("The target is:",target)

The target is: ['yes' 'yes' 'no' 'yes']

In [40]:
def train(c,t):
    for i, val in enumerate(t):
        if val =='yes':
            specific_hypothesis = c[i].copy()
        break
    for i, val in enumerate(c):
        if t[i]=='yes':
            for x in range(len(specific_hypothesis)):
                if val[x]!=specific_hypothesis[x]:
                    specific_hypothesis[x]='?'
                else:
                    pass
    return specific_hypothesis

In [41]:
print("The final hypothesis is:",train(d,target))

The final hypothesis is: ['Sunny' 'Warm' '?' 'Strong' '?' '?']